@model BookHeaven.Models.Borrow

@{
    ViewData["Title"] = "Borrow Details";
}

<h1>Borrow Details</h1>

<div>
    <h4>Borrow</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Book ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt class="col-sm-2">
            Borrow Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>
        <dt class="col-sm-2">
            Due Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
