@{
    ViewData["Title"] = "Details";
}
<link href="https://fonts.googleapis.com/css2?family=Almendra&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Arial&display=swap&subset=greek" rel="stylesheet">

<div class="container-description">
    <div class="description-image">
        <img src="~/img/covers/AcoloUndeCantaRacii.jpeg" alt="Cover Image">

        <div class="form-group left-btn">
            <a class="btn btn-borrow" asp-area="" asp-controller="Home" asp-action="Borrow">Borrow</a>
        </div>
        <div class="additional-info">
            <p>Author: Delia Owens</p>
            <div class="line"></div>
            <p>Series: N/A</p>
        </div>
    </div>
    <div class="description-text">
        <div class="title" style="margin-top: -31px; font-size: 24px;">
            <h3>Where the crawdads sing</h3>
            <h3> Delia Owens</h3>
        </div>
        <div class="content">
            <p>In the marshes of North Carolina, a captivating tale unfolds, drawing readers into the world of Kya Clark, the enigmatic "Marsh Girl." Abandoned by her family, Kya grows up in isolation, finding solace and connection in the natural rhythms of the marshland. But her solitary existence is disrupted when she becomes embroiled in a scandalous murder investigation, forever altering the course of her life.</p>
            <p>Against the backdrop of the lush Southern landscape, Delia Owens weaves a spellbinding narrative that explores themes of love, loss, and the resilience of the human spirit. With evocative prose and richly drawn characters, "Where the Crawdads Sing" transports readers to a world where the line between nature and humanity blurs, and the bonds that connect us to each other and the world around us are tested.</p>
        </div>
    </div>
</div>
