@model IEnumerable<BookHeaven.Models.Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <div class="pop-books-cont">
        <h3>Popular Books</h3>
        <p>Explore our collection of popular books</p>
        <div class="book-container-all">
            @foreach (var book in Model)
            {
                <div class="book-container">
                    <a asp-area="" asp-controller="Books" asp-action="Details" asp-route-id="@book.BookId">
                        <img src="@book.ImageUrl" alt="Book Cover of @book.Title" onerror="handleImageError(this)">
                    </a>
                    <p>@book.Title</p>
                    
                </div>
            }
        </div>
    </div>
</div>

<script>
    function handleImageError(image) {
        image.onerror = null; // Prevents an infinite loop if the placeholder image also fails to load
        image.src = 'https://via.placeholder.com/150'; // URL to your placeholder image
    }
</script>
